<section class="bg-accent ripped">
    <div class="container">
       <div class="row">
                  <div class="col-lg-6 text-lg-end">
                      <div class="card">
                      <h2 class="text-orange mb-3 ps-lg-5">Radical Companies</h2>
                      <p>This book is about what we call RADICAL COMPANIES, owned and managed by the people who embody them and give them life. It is for people who want to make an impact on the world, not just to make money.</p>
                        

                  </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="card">
                      <h2 class="text-orange mb-3 pe-5">Why?</h2>
                      <p>The world's economies that have evolved have worked relatively well for many of us, but have worked best for the powerful. Without question, things have gotten financially and materially better since the eighteenth century, but the playing field still tilts to the powerful and deep disparities continue today.</p>
                      <p>The biggest issue today is not the wealth gap, but the fact that we accept it as inevitable. It's going to be difficult, but we have to shake off the habits that lead us to be so compliant with the way things are. RADICAL COMPANIES offers a way to break away from the way things are and towards a future that works better for all of us.</p>
                  </div>
                  </div>
              </div>
    </div>
  </section>