<section class="bg-accent ripped-top">
    <div class="container">
       <div class="row">
            <div class="col-lg-6 text-center offset-lg-3 text-light">
                <h3 class="h1"><strong>Get The Book!</strong></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non voluptates veniam ut atque eius sunt sequi. Nemo, quae inventore suscipit sunt, dicta veniam, adipisci placeat maiores sapiente temporibus dignissimos iste?</p>
                <a href="#" class="btn btn-light text-orange">Get it at Amazon</a>
                <a href="#" class="btn btn-light text-orange">Pay what you can</a>
            </div>
        </div>
    </div>
  </section>