<!DOCTYPE html>
<html lang="en">
<head>
</head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FPDNHXBTT9"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-FPDNHXBTT9');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" nonce="2c037687907946bb9c980dd87c0" src="//local.adguard.org?ts=1644223524522&amp;type=content-script&amp;dmn=radical-companies.netlify.app&amp;app=com.apple.Safari&amp;css=3&amp;js=1&amp;rel=1&amp;rji=1&amp;sbe=1&amp;stealth=1&amp;uag="></script>
    <script type="text/javascript" nonce="2c037687907946bb9c980dd87c0" src="//local.adguard.org?ts=1644223524522&amp;name=AdGuard%20Extra&amp;type=user-script"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/custom.css">
    <title>Radical Companies</title>
</head>
<body>
    {% include nav.html %}