<h1 class="_section">&#8964;  RELATED &#8964;</h1>
 <div class="_box">
  <ul>
   <li>RADICAL COMPANIES,</li>
    <ul>
     <li><a>English</a>: <a href="https://radicalcompanies.com" target="_blank">&hellip;/https://radicalcompanies.com</a></li>
     <li><a>Spanish</a>: <a href="https://radicalcompanies.com" target="_blank">&hellip;/https://radicalcompanies.com</a></li>
    </ul>
   <li>Missing Chapters,</li>
    <ul>
     <li>For the Impatient: <a href="https://radicalcompanies.com/2022/05/03/radical-companies-for-the-impatient" target="_blank">https://radicalcompanies.com/2022/05/03/radical-companies-for-the-impatient</a></li>
     <li>Frequently Asked Questions (FAQ): <a href="https://radicalcompanies.com/2022/05/04/radical-companies-faq" target="_blank">https://radicalcompanies.com/2022/05/04/radical-companies-faq</a></li>
     <li>rCoin: <a href="https://radicalcompanies.com/2022/05/07/rcoins-decentralized-minting.html" target="_blank">https://radicalcompanies.com/2022/05/07/rcoins-decentralized-minting.html</a></li>
     <li>rLand: <a href="https://radicalcompanies.com/2022/05/06/rland.html" target="_blank">https://radicalcompanies.com/2022/05/06/rland.html</a></li>
     <li>rGov: <a href="https://radicalcompanies.com/2022/05/05/rgov-unpolished-thoughts.html" target="_blank">https://radicalcompanies.com/2022/05/05/     <li>rGov: <a href="https://radicalcompanies.com/2022/05/05//2022/05/05/rgov-unpolished-thoughts.html" target="_blank">https://radicalcompanies.com/2022/05/05/rgov-unpolished-thoughts.html</a></li>
    </ul>
   <li>Blog Posts <a href="https://radicalcompanies.com/blog/" target="_blank">https://radicalcompanies.com/blog/</a></li>
   <li>rEnsembles,</li>
    <ul>
     <li> rStayHome: <a href="https://radicalcompanies.com/2022/05/12/rStayHome" target="_blank">https://radicalcompanies.com/2022/05/12/rStayHome</a></li>
     <li>     rKare: <a href="https://radicalcompanies.com/2022/05/13/rKare" target="_blank">https://radicalcompanies.com/2022/05/13/rKare</a></li>
     <li>    rClean: <a href="https://radicalcompanies.com/2022/05/14/rClean" target="_blank">https://radicalcompanies.com/2022/05/14/rClean</a></li>
     <li>     rCORE: <a href="https://radicalcompanies.com/2022/05/15/rCORE" target="_blank">https://radicalcompanies.com/2022/05/15/rCORE</a></li>
     <li>rHatchery: <a href="https://radicalcompanies.com/2022/05/16/rHatchery" target="_blank">https://radicalcompanies.com/2022/05/16/rHatchery</a></li>
    </ul>
   <li>rStartups,</li>
    <ul>
     <li>rBuddyNeighbor: <a href="https://radicalcompanies.com/2022/05/17/rBuddyNeighbor" target="_blank">https://radicalcompanies.com/2022/05/17/rBuddyNeighbor</a></li>
     <li>   rHintersoft: <a href="https://radicalcompanies.com/2022/05/18/rHintersoft" target="_blank">https://radicalcompanies.com/2022/05/18/rHintersoft</a></li> 
     <li>   rNextBright: <a href="https://radicalcompanies.com/2022/05/19/rNextBright" target="_blank">https://radicalcompanies.com/2022/05/19/rNextBright</a></li>
    </ul>
   <li>rMedia,</li>
    <ul>
     <li>      rMedia: <a href="https://radicalcompanies.com/2022/04/01/rmedia" target="_blank">https://radicalcompanies.com/2022/04/01/rmedia</a></li>
     <li>rMedia Tools: <a href="https://radicalcompanies.com/2022/04/02/rmedia-tools" target="_blank">https://radicalcompanies.com/2022/04/02/rmedia-tools</a></li>
     <li>       rLive: <a href="https://radicalcompanies.com/2022/04/03/rlive" target="_blank">https://radicalcompanies.com/2022/04/03/rlive</a></li>
     <li>    rplaygym: <a href="https://radicalcompanies.com/2022-04-04-rplaygym" target="_blank">https://radicalcompanies.com/2022-04-04-rplaygym</a></li>
    </ul>
   <li>rProjects,</li>
    <ul>
     <li>      rMake!: <a href="https://radicalcompanies.com/2022/05/20/rmake" target="_blank">https://radicalcompanies.com/2022/05/20/rmake</a></li>
     <li>    rRemark!: <a href="https://radicalcompanies.com/2022/05/21/remark" target="_blank">https://radicalcompanies.com/2022/05/21/remark (API)</a></li>
     <li>       RADs!: <a href="https://radicalcompanies.com/2022/05/22/rads!" target="_blank">https://radicalcompanies.com/2022/05/22/rads! (App)</a></li>
     <li>Attentive UI: <a href="https://radicalcompanies.com/2022/05/23/attentive-ui" target="_blank">https://radicalcompanies.com/2022/05/23/attentive-ui</a></li>
    </ul>
   <li>rFiction,</li>
    <ul>
     <li>First of Earth (11 episodes): <a href="https://radical-companies-repo/2022/03/01/E01-first-of-earth" target="_blank">https://radical-companies-repo/2022/03/01/E01-first-of-earth</a></li>
     <li>The Fiat Enclaves (3 episodes): <a href="https://2022/03/11/E11/the-fiat-enclaves" target="_blank">https://2022/03/11/E11/the-fiat-enclaves</a></li>
    </ul>
  </ul>
 </div>