<section>
    <div class="container">
        <div class="row align-items-center justify-content-center justify-content-lg-start text-center text-lg-start">
            <div class="col-3 col-lg-2 offset-lg-2 ">
                <img src="https://via.placeholder.com/200x200" class="img-fluid rounded-circle" alt="">
            </div>
            <div class="col-lg-6">
                <p> <em>If you want to learn how to keep employees from quitting and stay engaged, you’ll want to read this book and shift your perspective about the importance of having co-leaders instead of just hired workers.</em></p>
                <p><strong><em>Tullio Siragusa, Encora, Inc.</em></strong></p>
            </div>
        </div>
    </div>
</section>