@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');


html {
  --color-acc-1: #36B3C7;
  --color-acc-2: #ED8849;
  --color-text: #011616;
  --color-light: #fff;
  font-size: 20px;
}
@media (max-width: 700px){
  html {
    font-size: 16px;
  }
  [class^="col-"]{
    margin-bottom: 1rem;
  }
  section, nav {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (max-width: 650px){
  html {
    font-size: 14px;
  }

  section, nav {
    padding-left: 0;
    padding-right: 0;
  }
}
a {
  color: var(--color-acc-2);
}
a:hover {
  color: var(--color-acc-1);
}
h2 a, h3 a {
  color: var(--color-text);
  text-decoration: none;
}
h2 a:hover, h3 a:hover {
  color: var(--color-acc-2);
  text-decoration: none;
}
.btn {
  font-family: Courier New, monospace;
}
p a.btn {
  text-indent:0;
}
nav {
  font-family: Courier New, monospace;
}
nav {
  border-bottom:#dedede 1px solid;
}
nav a, nav a span {
  text-decoration: none;
  color: var(--color-acc-1);
}
nav a:hover, nav a:hover span {
  text-decoration: none;
  color: var(--color-acc-2);
}
nav a svg {
  fill: var(--color-acc-1);
  width: auto;
  height: 1.2rem;
  vertical-align: sub;
}
nav a:hover svg {
  fill: var(--color-acc-2);
  width: auto;
  height: 1.2rem;
  vertical-align: sub;
}
body {
  font-family: "Lora", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family:Courier New, monospace;
}
h1 {
  font-weight: 900;
  font-size: 4rem;
  font-size: 6rem;
  line-height: 1;
  margin: 0;
}
h2 {
  font-size: 2rem;
  font-weight: 700;
}
h3 {
  font-size: 1.5rem;
  font-weight: 700;
}
.lead {
  font-size: 1.5rem;
}
.btn {
  border: none;
  font-weight:bold;
}
section, footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.bg-accent {
  background-color: var(--color-acc-1);
}
.bg-orange {
  background-color: var(--color-acc-2);
}
.bg-black {
  background-color: var(--color-text);
}
.bg-hover-accent:hover {
  background-color: var(--color-acc-1);
}
.text-accent {
  color: var(--color-acc-1);
}
.text-orange {
  color: var(--color-acc-2);
}
.text-black {
  color: var(--color-text);
}
.card {
  background:white;
  padding:3rem;
  box-shadow:0 4px 16px rgba(0,0,0,.15);
  border-radius:0;
  border:none;
}
.neg-y {
  margin-top:-5rem !important;
  margin-bottom:-5rem !important;
}
.trans-white-accent {
  background:linear-gradient(var(--color-light) 0, var(--color-light) 50%, var(--color-acc-1) 50%, var(--color-acc-1) 100%);
}
.ripped {
    padding-top:7rem;
    padding-bottom:7rem;
    background-image:url(img/rip-1.png), url(img/rip-2.png);
    background-position:center top, center bottom;
    background-size:100%;
    background-repeat:no-repeat;
}
.ripped-top-alt {
  padding-top:7rem;
  background-image:url(img/rip-2.png);
  background-position:center top;
  background-size:100%;
  background-repeat:no-repeat;
}
.ripped-top {
  padding-top:7rem;
  background-image:url(img/rip-1.png);
  background-position:center top;
  background-size:100%;
  background-repeat:no-repeat;
}
.section-buy {
  background:
    url(img/rip-1.png),
    linear-gradient(var(--color-light) 0, var(--color-light) 50%, var(--color-acc-1) 50%, var(--color-acc-1) 100%);
  background-position: center center, center top;
  background-size: 100%;
  background-repeat: no-repeat;
}
footer {
    padding-top:10rem;
    background-image:url(img/rip-4.png);
    background-position:center top;
    background-size:100%;
    background-repeat:no-repeat;
    font-family:Courier New, monospace;
}
@media (min-width: 1024px){
  .hero-img {
    margin-left:-250px;
  }
}

/* Matt's */

/*
 Explicit Alignment Table
*/
table._explicitalignment {
  width:80%;
}
table._explicitalignment th {
  vertical-align:text-top;
  padding-right:1em;
  text-align:left;
  border-right:black dotted 1px;
  font-weight:bold;
}
table._explicitalignment td {
  vertical-align:text-top;
  padding-left:1em;
  text-align:left;
}
table._explicitalignment tr:nth-child(1),
table._explicitalignment tr:nth-child(3),
table._explicitalignment tr:nth-child(5) {
  border:0;
  background-color:#EEEEEE;
  font-weight:bold;
}
table._explicitalignment tr:nth-child(1) th,
table._explicitalignment tr:nth-child(3) th,
table._explicitalignment tr:nth-child(5) th {
  border:0;
  background-color:#EEEEEE;
  font-weight:bold;
  text-align:left;
}
/*
table._explicitalignment tr:nth-child(1) td,
 */
table._explicitalignment tr:nth-child(3) td,
table._explicitalignment tr:nth-child(5) td {
  border:0;
  border-left:black dotted 1px;
}
table._explicitalignment tr:nth-child(2) th,
table._explicitalignment tr:nth-child(4) th,
table._explicitalignment tr:nth-child(6) th {
  text-align:right;
  border:0px;
  font-size:smaller;
  width:25%;
}
table._explicitalignment tr:nth-child(2) td,
table._explicitalignment tr:nth-child(4) td,
table._explicitalignment tr:nth-child(6) td {
  /*
  border-left:black dotted 1px;
   */
  text-align:left;
}

/**/
.text-lg-start h1 {
  font-size:60px;
}
.text-lg-start p {
  font-size:30px;
}
h1, h2 {
  font-family:Courier New, monospace;
}
h1 {
  font-size:40px;
}
h2 {
  font-size:30px;
}
h1 {
  margin-top:40px;
  margin-bottom:20px;
}
h1._section {
  font-size:50px;
  text-align:center;
  margin-top:100px;
  margin-bottom:20px;
  color:gray;
}
a._uparrow img {
  height:15px;
}
li {
  font-size: smaller;
}
table {
  margin-bottom:20px;
}
table._background {
  width:70%;
}
._background th, ._background td {
  vertical-align:top;
  font-size:smaller;
}
._background th {
  text-align:right;
  padding-right:1em;
  column-width:80%;
}
._background td {
  text-align:left;
  padding-left:1em;
  padding-right:1em;
}
table td {
  text-align:left;
  vertical-align:top;
  padding-left:1em;
  padding-right:1em;
}
table td._spacer {
  column-span:all;
  font-size:smaller;
  background-color:white;
}
table tr {
  vertical-align:top;
  font-size:smaller;
}
table._background ul {
  font-size:larger;
  list-style-position:outside;
}
table._background tr th, table._foundation tr th {
  border-right:gray solid 1px;
  column-width:80%;
  padding-left:1em;
}
table._background tr td, table._foundation tr td {
  font-size:smaller;
  padding-right:1em;
}
table._background tr:nth-child(odd),
table._foundation tr:nth-child(odd) {
  background-color:#EEEEEE;
}
table._background tr ul, ul li p:last-of-type, table._foundation tr ul, ul li p:last-of-type {
  margin-bottom:0;
}
._list-item {
  margin-bottom:0;
  font-size:smaller;
}
/*
span._paradigm {
  font-weight:500;
  background-color:#e9e9e9;
}
 */
._underDev {
  font-weight:bold;
  font-family:sans-serif;
  font-size:small;
}

/*
 * _quotation
 */
 ._quotation {
  font-family:'Courier New', Courier, monospace;
  padding-right:40px;
  padding-left:40px;
}

/*
 * _citation
 */
._citation p {
  width:80%;
  padding-left:10%;
  padding-right:10%;
  background-color:azure;
  border-left:10px solid #ccc;
  font-family:Architects Daughter, cursive;
  text-align:center;
}
._citation p#_signature {
  font-size:smaller;
}
._citation p#_signature::before {
  content:"— ";
}

/*
 * dialog: begin
 */
p._speaker {
  text-indent:-3em;
  margin-bottom:0;
}
p._speakera, 
p._speakerb,_
p._speakerc {
  margin-bottom:0;
}
._speakera, ._speakerac {
  font-weight:bolder;
}
._speakerb, ._speakerbc {
  font-weight:normal;
}
._speakerc, ._speakercc {
  font-weight:bolder;
  font-style:italic;
}
._speakera,
._speakerb,
._speakerc {
  text-indent:-1.5em;
  margin-left:1.5em;
}
._speakera::before,
._speakerb::before,
._speakerc::before {
  content:"— “";
}
._speakerac::before,
._speakerbc::before,
._quotespan::before {
  content:"“";
}
._speakera::after, ._speakerac::after,
._speakerb::after, ._speakerbc::after,
._speakerc::after, ._speakercc::after,
._quotespan::after {
  content:"”";
}
div._quotespan {
  font-style:italic;
  padding-left:2.2em;
  margin-bottom:5px;
}
._quotespan {
  font-style:italic;
  margin-bottom:3px;
}
._commentary {
  padding-left:0;
  margin-bottom:3px;
}
._speaker {
  margin-left:2em;
  text-indent:-1.5em;
}
._continue {
  content:"   ";
  margin-left:1.5em;
}
/*
 * dialog: end
 */

div.col-10 p, p._list-item {
  text-indent:0;
}
p {
  margin-left:0;
  padding-left:0;
  margin-bottom:6px;
  text-indent:1em;
  text-align:justify;
  text-justify:inter-word;
}
p._list-item {
  text-align:left;
}
div._center table._explicitalignment p {
  text-indent:0;
}
h1+p, h2+p {
  text-indent:0;
}
._float {
  float:right;
}
._float th {
  text-align:right;;
  column-width:80%;
}
._float td {
  column-width:80%;
}
div table._background, div table._foundation {
  border:black 1px solid;
  max-width:90%;
}
#_bolder {
  font-weight:bolder;
}
._me {
  font-style:normal;
 }
._image {
  display:grid;
  place-items:center;
  font-family:'Courier New', Courier, monospace;
  font-size:smaller;
}
._center {
  text-align:center;
  align-items:center;
  display:grid;
  place-items:center;
}
._mb0 {
  margin-bottom:0;
}
._r {
  font-family:'Courier New', Courier, monospace;
}
._alignquestions {
  font-size:smaller;
  font-family:helvetica, sans-serif;
  font-weight:normal;
}
._title {
  margin-top:1em;
  font-family:Courier New, monospace;
  text-align:center;
  font-size:5rem;
}
._links {
  margin-bottom:1in;
  width:80%;
  padding:0 10%;
  font-family: American Typewriter;
}
._foundation, ._alignment {
  text-align:left;
  display:grid;
  place-items:center;
}
._foundation td {
  font-size:small;
  column-width:80%;
}
._p {
  font-size:smaller;
}
._box {
  opacity:0.0;
}
._box:hover {
  opacity:1.9;
}

/* Q&A BEGIN */
._qna {
  padding-left:2em;
}
._qnablock {
  display:block;
  margin-left:1m;
  font-size:smaller;
}
._q {
  text-indent:0;
  padding-top:0.25em;
  font-weight:bolder;
  font-size:larger;
}
._q:before {
  font-family:'Courier New', Courier, monospace;
  content:"Q: "
}
._a {
  padding-bottom:0.5em;
  font-style:italic;
}
._a:before {
  font-size:larger;
  font-family:'Courier New', Courier, monospace;
  content:"A: ";
}
div._q p, div._a p {
  margin-left:2.3rem;
  text-indent:1rem;
}
div._q ul, div._a ul {
  margin-left:3rem;
}
/* Q&A END*/

/* < PREVIOUS ... NEXT > */
div._next {
  margin-top:20px;
  margin-bottom:1in;
  width:80%;
  padding:0 10%;
  font-family: American Typewriter;
}
._coltitle {
  font-weight:bold;
  font-size:larger;
  column-span:all;
  background-color:#EEEEEE;
  vertical-align:text-top;
}
table#_ninety,
table._ninety {
  width:90%;
}
table#_ninety tr::nth-child(-n + 3),
table._ninety tr::nth-child(-n + 3) {
  column-span:all;
   */
}

/*
 Table2col
 */
 table._h2table {
  width:85%;
}
table._h2table tr:nth-child(odd) {
  background-color:#eeeeee;
}
table._h2table p:first-child {
  text-indent:0;
  text-align:left;
}
table._h2table tr th,
table._h2table tr th p {
  text-align:right;
  vertical-align:text-top;
  padding-right:0.5em;
  /**/
  font-weight:bold;
  column-width:25%;
}
table._h2table tr td,
table._h2table tr td p {
  text-align:left;
  vertical-align:text-top;
  padding-left:0.5em;
  /**/
  padding-right:0;
  column-width:75%;
}
table._h2table tr td {
  border-left:black 1px dotted;
}

/*
 */
img {
  font-family:'Courier New', Courier, monospace;
}
h1 ~ h3 {
  padding-top:25px;
  font-size:1.2rem;
}
ul th, ul td, ul th p, ul td p, td p {
  text-indent:0;
}