@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');


html{
  --color-acc-1: #36B3C7;
  --color-acc-2: #ED8849;
  --color-text: #011616;
  --color-light: #fff;
  font-size: 20px;
}
@media (max-width: 700px){
  html{
    font-size: 16px;
  }
  [class^="col-"]{
    margin-bottom: 1rem;
  }
  section, nav{
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (max-width: 650px){
  html{
    font-size: 14px;
  }

  section, nav{
    padding-left: 0;
    padding-right: 0;
  }
}
a{
  color: var(--color-acc-2);
}
a:hover{
  color: var(--color-acc-1);
}
h2 a, h3 a {
  color: var(--color-text);
  text-decoration: none;
}
h2 a:hover, h3 a:hover{
  color: var(--color-acc-2);
  text-decoration: none;
}
.btn{
  font-family: "Roboto", sans-serif;
}
nav{
  font-family: "Roboto", sans-serif;
}
nav {
  border-bottom: 1px solid #dedede;
}
nav a, nav a span{
  text-decoration: none;
  color: var(--color-acc-1);
}
nav a:hover, nav a:hover span{
  text-decoration: none;
  color: var(--color-acc-2);
}
nav a svg{
  fill: var(--color-acc-1);
  width: auto;
  height: 1.2rem;
  vertical-align: sub;
}
nav a:hover svg{
  fill: var(--color-acc-2);
  width: auto;
  height: 1.2rem;
  vertical-align: sub;
}
body{
  font-family: "Lora", sans-serif;
}
h1, h2, h3, h4, h5, h6{
  font-family:Courier New, monospace;
}
h1{
  font-weight: 900;
  font-size: 4rem;
  line-height: 1;
  margin: 0;
}
h2{
  font-size: 2rem;
  font-weight: 700;
}
h3{
  font-size: 1.5rem;
  font-weight: 700;
}
.lead{
  font-size: 1.5rem;
}
.btn{
  border: none;
  font-weight:bold;
}
section, footer{
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.bg-accent{
  background-color: var(--color-acc-1);
}
.bg-orange{
  background-color: var(--color-acc-2);
}
.bg-black{
  background-color: var(--color-text);
}
.bg-hover-accent:hover{
  background-color: var(--color-acc-1);
}
.text-accent{
  color: var(--color-acc-1);
}
.text-orange{
  color: var(--color-acc-2);
}
.text-black{
  color: var(--color-text);
}
.card{
  background:white;
  padding:3rem;
  box-shadow:0 4px 16px rgba(0,0,0,.15);
  border-radius:0;
  border:none;
}
.neg-y{
  margin-top:-5rem !important;
  margin-bottom:-5rem !important;
}
.trans-white-accent{
  background:linear-gradient(var(--color-light) 0, var(--color-light) 50%, var(--color-acc-1) 50%, var(--color-acc-1) 100%);
}
.ripped{
    padding-top:7rem;
    padding-bottom:7rem;
    background-image:url(img/rip-1.png), url(img/rip-2.png);
    background-position:center top, center bottom;
    background-size:100%;
    background-repeat:no-repeat;
}
.ripped-top-alt{
  padding-top:7rem;
  background-image:url(img/rip-2.png);
  background-position:center top;
  background-size:100%;
  background-repeat:no-repeat;
}
.ripped-top{
  padding-top:7rem;
  background-image:url(img/rip-1.png);
  background-position:center top;
  background-size:100%;
  background-repeat:no-repeat;
}
.section-buy{
  background:
    url(img/rip-1.png),
    linear-gradient(var(--color-light) 0, var(--color-light) 50%, var(--color-acc-1) 50%, var(--color-acc-1) 100%);
  background-position: center center, center top;
  background-size: 100%;
  background-repeat: no-repeat;
}
footer{
    padding-top:10rem;
    background-image:url(img/rip-4.png);
    background-position:center top;
    background-size:100%;
    background-repeat:no-repeat;
    font-family:"Roboto", sans-serif;
}
@media (min-width: 1024px){
  .hero-img{
    margin-left:-250px;
  }
}
/* Matt's */
.text-lg-start h1 {
  font-size:60px;
}
.text-lg-start p {
  font-size:30px;
}
h1, h2 {
  font-family:'Courier New', Courier, monospace;
}
h1 {
  font-size:40px;
}
h2 {
  font-size:30px;
}
h1 {
  margin-top:40px;
  margin-bottom:20px;
}
h1._section {
  font-size:50px;
  text-align:center;
  margin-top:100px;
  margin-bottom:20px;
  color:gray;
}
a._uparrow img {
  height:15px;
}
li {
  font-size: smaller;
}
table {
  margin-bottom:20px;
}
table._background {
  width:70%;
}
._background th, ._background td {
  vertical-align:top;
  font-size:smaller;
}
._background th {
  text-align:right;
  padding-right:1em;
  width:1.5in;
}
._background td {
  text-align:left;
  padding-left:1em;
  padding-right:1em;
}
table td {
  text-align:left;
  vertical-align:top;
  padding-left:1em;
  padding-right:1em;
}
table td._spacer {
  column-span:all;
  font-size:smaller;
  background-color:white;
}
table tr {
  vertical-align:top;
  font-size:smaller;
}
table._background ul {
  font-size:larger;
  list-style-position:outside;
}
table._background tr th, table._foundation tr th {
  border-right-width:1px;
  border-right-color:gray;
  border-right-style:solid;
  padding-left:1em;
}
table._background tr td, table._foundation tr td {
  font-size:smaller;
  padding-right:1em;
}
table._background tr:nth-child(odd), table._foundation tr:nth-child(odd) {
  background-color:#EEEEEE;
}
table._background tr ul, ul li p:last-of-type, table._foundation tr ul, ul li p:last-of-type {
  margin-bottom:0;
}
._list-item {
  margin-bottom:0;
  font-size:smaller;
}
._paradigm {
  font-size:smaller;
}
._underDev {
  font-weight:bold;
  font-family:sans-serif;
  font-size:small;
}
._quotation, ._citation {
  text-align:justify;

  font-style:italic;
  font-size:smaller;
  font-family:'American Typewriter', serif;
  font-family:'Roboto', sans-serif;
  
  background-color:beige;
  white-space:normal;

  border:1px solid CadetBlue;
  padding:10px 10px 0 10px;
  width:80%;

  margin:0 auto 30px auto;
  padding:0 auto .5em  auto;
}
._citation #_signature {
  display: block;
  padding-top:10px;
  text-indent:-1em;
  font-style:italic;
  font-size:smaller;
  margin:0 0.5em .5em 10%;
}
._citation #_signature::before {
  text-indent:-0.3em;
  content:"— ";
}
p {
  margin-left:0;
  padding-left:0;
  margin-bottom:6px;
}
/*
 * dialog: begin
 */
p._speaker {
  text-indent:-3em;
  margin-bottom:0;
}
p._speakera, 
p._speakerb,
p._speakerc {
  margin-bottom:0;
}
._speakera, ._speakerac {
  font-weight:bolder;
}
._speakerb, ._speakerbc {
  font-weight:normal;
}
._speakerc, ._speakercc {
  font-weight:bolder;
  font-style:italic;
}
._speakera,
._speakerb,
._speakerc {
  text-indent:-2em;
  margin-left:2em;
}
._speakera::before,
._speakerb::before,
._speakerc::before {
  content:"— “";
}
._speakerac::before,
._speakerbc::before,
._quotespan::before {
  content:"“";
}
._speakera::after, ._speakerac::after,
._speakerb::after, ._speakerbc::after,
._speakerc::after, ._speakercc::after,
._quotespan::after {
  content:"”";
}
div._quotespan {
  font-style:italic;
  padding-left:2.2em;
  margin-bottom:5px;
}
._quotespan {
  margin-bottom:3px;
}
div._citation {
  padding-bottom:6px;
}
._commentary {
  padding-left:0;
  margin-bottom:3px;
}
._speaker {
  /*
  font-family:Roboto;
  font-weight:bolder;
  text-indent:0.3em;
  font-size:smaller;
  */
  margin-left:2em;
  text-indent:-1.5em;
}
._continue {
  content:"   ";
  font-size:smaller;
}
/*
 * dialog: end
 */

div.col-10 p, p._list-item {
  text-indent:0;
}
h1 + p._speaker {
}
h1 + p {
  text-indent:0;
} 
._float {
  float:right;
}
._float th {
  text-align:right;;
  width:30%;
}
._float td {
  width:70%;
}
div table._background {
  border:1px solid black;
  max-width:90%;
}
div table._foundation {
  border:1px solid black;
  max-width:50%;
}
#_bolder {
  font-weight:bolder;
}
._me {
  font-style:normal;
 }
._image {
  display:grid;
  place-items:center;
  font-family:'Courier New', Courier, monospace;
  font-size:smaller;
}
._center {
  text-align:center;
  align-items:center;
  display:grid;
  place-items:center;
}
._mb0 {
  margin-bottom:0;
}
._r {
  font-family:'Courier New', Courier, monospace;
}
._alignquestions {
  font-size:smaller;
  font-family:helvetica, sans-serif;
  font-weight:normal;
}
._title {
  margin-top:1em;
  font-family:Courier New, monospace;
  text-align:center;
  font-size:5rem;
}
._links {
  margin-bottom:1in;
  width:80%;
  padding:0 10%;
  font-family: American Typewriter, serif;
}
._foundation, ._alignment {
  text-align:left;
  display:grid;
  place-items:center;
}
._foundation td {
  font-size:small;
}
._p {
  font-size:smaller;
}
._box {
  opacity:0.0;
}
._box:hover {
  opacity:1.9;
}

/* Q&A BEGIN */
._qna {
  padding-left:2em;
}
._q {
  font-weight:bolder;
  padding-top:0.25em;
}
._a {
  font-style:italic;
  padding-bottom:0.5em;
}
/* Q&A END*/

/* < PREVIOUS ... NEXT > */
div._next {
  margin-top:20px;
  margin-bottom:1in;
  width:80%;
  padding:0 10%;
  font-family: American Typewriter, serif;
}
._coltitle {
  font-weight:bold;
  font-size:larger;
  column-span:all;
  background-color:#EEEEEE;
  vertical-align:text-top;
}
table#_ninety,
table._ninety {
  width:90%;
}
table#_ninety tr::nth-child(-n + 3),
table._ninety tr::nth-child(-n + 3) {
  column-span:all;
}

/*
 Two-Column Table
 */
table._h2table {
  width:80%;
}
table._h2table th {
  padding-right:1em;
  vertical-align:text-top;
  text-align:right;
  padding-right:1em;
  font-weight:bold;
  /*
  font-size:smaller;
  */
}
table._h2table td {
  vertical-align:text-top;
  text-align:left;
  border-left:black 1px solid;
  padding-left:1em;
}

/*
 Explict Alignment Table
 */
table._explicitalignment {
  width:80%;
}
table._explicitalignment tr th { /* left col */
  vertical-align:text-top;
  text-align:right;
  padding-right:1em;
  font-weight:bold;
  font-size:smaller;
  font-family:monospace;
  font-variant:small-caps;
}
table._explicitalignment tr td { /* right col */
  vertical-align:text-top;
  text-align:left;
  padding-left:0;
}
table._explicitalignment tr._background {
  background-color:#EEEEEE;
}
table._explicitalignment tr._background th { /* right col */
  vertical-align:text-top;
  text-align:left;
  font-weight:bold;
  font-size:larger;
  font-family:'Times New Roman', Times, serif;
  width:85%;
}